:80 {

    # Static files
    rewrite /_next/* /dashboard{uri}
    
    handle_path /_next/* {
        rewrite * /dashboard{uri}
        reverse_proxy healthchecks-front:3000
    }

    handle_path /dashboard* {
        reverse_proxy healthchecks-front:3000
    }

    handle {
        reverse_proxy healthchecks:8000
    }
}