:80 {

    # Static files
    handle_path /_next/* {
        reverse_proxy healthchecks-front:3000
    }

    handle_path /dashboard* {
        reverse_proxy healthchecks-front:3000
    }

    handle {
        reverse_proxy healthchecks:8000
    }
}